<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	
	<appender name="Countout" class="github.com.cp149.CountAppender" />
	
	<appender name="janetty"
		class="github.com.cp149.netty.client.JactorNettyAppender">
		<remoteHost>localhost</remoteHost>
		<port>4560</port>
		<appender-ref ref="STDOUT" />
		<connectatstart>false</connectatstart>
		<channelSize>10</channelSize>
	</appender>
		
	
	
	

	<logger name="github.com.cp149.netty.client" level="DEBUG">
		<appender-ref ref="janetty" />
		<appender-ref ref="Countout" />
		
	</logger>	
	
	<root level="ERROR">
		
	<!-- 
		<appender-ref ref="ASYNC" />
		<appender-ref ref="ASYNCFile" />
	 -->	
	</root>
</configuration>