<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %p [%t] %c [%F:%L] - %msg%n
			</pattern>
		</encoder>chapters.appenders.socket.SocketClient2
	</appender>
	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/logback-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<append>true</append>
		
		<encoder>
			<pattern>%d %-5p [%t] %c [%F:%L] - %msg%n</pattern>
			
		</encoder>
	</appender>
	
	
	<appender name="jasocket"
		class="github.com.cp149.netty.client.NettyAppender">
		<remoteHost>localhost</remoteHost>
		<port>4560</port>
		<appender-ref ref="STDOUT" />
		<connectatstart>true</connectatstart>
		<channelSize>10</channelSize>
	</appender>
	<appender name="janetty"
		class="github.com.cp149.netty.client.JactorNettyAppender">
		<remoteHost>localhost</remoteHost>
		<port>4560</port>
		<appender-ref ref="STDOUT" />
		<connectatstart>true</connectatstart>
		<channelSize>10</channelSize>
	</appender>
	<appender name="jactorplusnetty" class="github.com.cp149.JactorAppender">
		<appender-ref ref="jasocket" />
		
	</appender>
	
	
	

	<logger name="github.com.cp149.netty.client" level="DEBUG">
		<appender-ref ref="jactorplusnetty" />
	</logger>	
	
	<root level="ERROR">
		
	<!-- 
		<appender-ref ref="ASYNC" />
		<appender-ref ref="ASYNCFile" />
	 -->	
	</root>
</configuration>